<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Models and databases</h1>
    <ul>Django Models
        <li> - Understand Django's ORM (Object-Relational Mapper)</li>
        <li>  - Define models to represent database tables.</li>
        <li> - Perform CRUD operations (Create, Read, Update, Delete) using
models</li>
    </ul>
    <ul>Database Migrations
        <li> - Learn about Django migrations and how they manage changes to the
database schema</li>
        <li> - Apply migrations to create, update, and revert changes to the
database</li>
    </ul>
    <ul>Admin Interface
        <li> - Explore Django's admin interface for data management.</li>
        <li> - Register models with the admin site</li>
        <li> - Customize the admin interface as needed.</li>
    </ul>
</body>
</html>