<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Setting Up and Basics</h1>
    <ul>Introduction to Django:
        <li>- Install Django and set up your development environment.</li>
        <li> - Create your first Django project and understand its structure.</li>
        <li>- Learn about Django's MTV (Model-Template-View) architecture.</li>
    </ul>
    <ul>Views and URLs
        <li> - Understand the role of views in Django.</li>
        <li>- Define URL patterns and map them to views.</li>
        <li> - Implement basic views to render templates.</li>
    </ul>
    <ul>Templates and Static Files:
        <li>- Learn about Django templates and template inheritance.</li>
        <li>- Create HTML templates and render dynamic content.</li>
        <li>- Serve static files (CSS, JavaScript, images) in Django.</li>
    </ul>
</body>
</html>